<div class="text-center">
    <h3>
        Deseja realmente apagar o contato?
    </h3>

    <a asp-controller="Contato" asp-action="ConfirmarExclusao" role="button" class="btn btn-success">Confimar</a>
    <a asp-controller="Contato" asp-action="Index" role="button" class="btn btn-danger">Cancelar</a>
</div>