<div class="text-center">
    <h3>
        Deseja realmente apagar o contato?
    </h3>

    <a role="button" class="btn btn-success">Confimar</a>
    <a role="button" class="btn btn-danger">Cancelar</a>
</div>