<div class="text-center">

    <h1 class="display-4">Edite seu contato</h1>

    <br />

    <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">Nome</span>
        <input type="text" class="form-control" placeholder="Adicione o nome" aria-label="nome" aria-describedby="addon-wrapping">
    </div>

    <br />

    <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">Email</span>
        <input type="email" class="form-control" placeholder="Adicione o email" aria-label="Email" aria-describedby="addon-wrapping">
    </div>

    <br />

    <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">Telefone</span>
        <input type="number" class="form-control" placeholder="Adicione o telefone" aria-label="telefone" aria-describedby="addon-wrapping">
    </div>

    <br />

    <button type="submit" role="button" class="btn btn-success">Editar</button>
    <a role="button" asp-controller="Contato" asp-action="Index" class="btn btn-secondary">Voltar</a>

</div>